// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$bordo: #611C35;
$white: #EDEDED;
$yale-blue: #064789;
$steel-blue: #427AA1;
$alice-blue: #EBF2FA;
$maximum-green: #679436;
$acid-green: #A5BE00;
$yaleblue: #064789;
$steelblue: #427AA1;
// Yale blue #064789
// Steel Blue #427AA1
// Alice Blue #EBF2FA
// Maximum Green #679436
// Acid Green #A5BE00
