#container-show{
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;

  .card-body{
    // background-color: red;
  }

}
// #card-show{
//   display: flex;
//   justify-content: center;
//   position: relative;
//   #estrellas{
//     position: absolute;
//   }
// }
