<h1> Profesionales </h1>

    <% @users.each do |user| %>
      <div class="card-info">
        <h2><%= link_to user.first_name, user_path(user) %></h2>
          <p><%= user.job %></p>
        <p><%= user.city %></p>
        <br>
        <%= link_to 'ver', users_path(user.id), class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
