<div class="container">
  <% @review_by.each do |review| %>
      <div class="cards">
        <div class="card card-1">
            <div class="card_title">
              <h3 class="name">
                <%="#{User.find(review.user_id).first_name}" %>
              </h3>
            </div>
            <p class="card__stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </p>
            <p class="card__content">
              <%= review.content %>
            </p>
        </div>
      </div>
  <% end %>
</div>
