<% @review_by.each do |review| %>
  <%= review.content %>
  <p> Aca vamos a ver el comentario si es profesional deberia ver los comentarios que le hicieron a el y si es cliente deberia ver los comentarios que hizo como cliente</p>
<% end %>
