<div class="container">
  <div class="titulo col-4 row justify-content-center" style="margin: 0 auto">
    <h2>Editar: <%= @request.title %></h2>
  </div>

  <%= render 'form', field: @request %>
  <br>
</div>
