<div class="container">
  <h1>Servicios YA</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  <%= form_tag users_path, method: :get do %>
  <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Busca un servicio"
    %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end%>

<br>
  <%= link_to 'Ver mas profesionales', users_path , class: 'btn btn-primary' %>
</div>
