.banner {
  background-size: cover;
  background-position: center;
  padding: 170px 0;
  position: relative;
  h1{
    color: white;
    position: absolute;
    left: 24.3%;
    top:85px;
  }

  p{
    color: white;
    position: absolute;
    left: 24.3%;
    top: 125px;
  }
}
  // .titulo-banner{
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // }
