.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  h1,p{
    color: white;
  }
  .titulo-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  }
}
