btn-p{
  border: 1px solid rgb(219, 33, 33);
  transition: 0.5s;
}
.btn-default{
  background-color: rgb(112, 99, 99);
  border: solid 1px rgb(112, 99, 99);
  color: white;
   &:hover{
    background-color: $bordo;
    color: white;
  }
 }
