btn-p{
  border: 1px solid $steel-blue;
  transition: 0.5s;
}
.btn-default{
  background-color: transparent;
  border: solid 1px $steel-blue;
  color: $yale-blue;
  transition: all .5s ease;
   &:hover{
    background-color: $yale-blue;
    color: white;
    transform: scale(1.1);
  }
 }
 #btn-search{
  background-color: #555;
  border: solid 1px #555555;
  color: #f8f9fa;
   &:hover{
    background-color: $steel-blue;
    border: solid 1.5px $alice-blue;
    color: white;
    transform: scale(1.1);
    transition: transform 0.3s;
  }
 }
