.card-users {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 7px;
  align-items: center;
  justify-items: center;
}
@media(max-width: 992px) {
  .card-users {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .card-users {
    grid-template-columns: 1fr;
  }
}
