.card-request {
  overflow: hidden;
  height: 160px;
  width: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.card-request img {
  height: 100%;
  width: 160px;
  object-fit: cover;
}

.card-request h2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
  text-decoration: none;
}

.card-request p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 10px;
  margin-top: 8px;
}

.card-request .card-request-infos {
  padding: 16px;
}

.btn-grad {background-image: linear-gradient(to right, #003973 0%, #E5E5BE  51%, #003973  100%)}

.btn-grad {
   margin: 10px;
   padding: 10px 15px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   font-size: 14px;
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   border: none;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
