.card-request {
  overflow: hidden;
  height: 200px;
  width: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  border-radius: 15px;
  margin-top: 20px;
}

.card-request img {
  height: 90%;
  margin-left: 8px;
  object-fit: cover;
}

.card-request h2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
  text-decoration: none;
  text-align: initial;
}

.card-request p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 10px;
  margin-top: 8px;
  overflow: hidden;
  text-align: initial;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card-request .card-request-infos {
  padding: 16px;
}

.btn-grad {background-image: linear-gradient(to right, #003973 0%, #E5E5BE  51%, #003973  100%)}

.btn-grad {
   margin: 10px;
   padding: 10px 15px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   font-size: 14px;
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   border: none;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 .btn-request {
  background-color: transparent;
  border: solid 1px $steel-blue;
  color: $yale-blue;
  transition: all .5s ease;
   &:hover{
    background-color: $yale-blue;
    color: white;
    transform: scale(1.1);
  }
 }

 #volver {
  align-items: center;
 }
