.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.map-container {
  margin-left: 50px;
}

.index-users {
  margin-right: 1px;
}
