.navbar-lewagon {
  justify-content: space-between;
<<<<<<< HEAD
  background: $yale-blue;
  .dropdown-item {
    color: $yale-blue;
    text-transform: none;
  }
=======
  background: $yaleblue;
>>>>>>> 38c2570b9bbe1eeed77ab0e8d49c733d8b177225
  a {
    position: relative;
    display: block;
    padding: 4px 4px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    &::after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      height: 3px;
      background: $alice-blue;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s;
    }

    &:hover {
      color: $alice-blue;
      background: $yale-blue;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
  .navbar-collapse {
    flex-grow: 0;
  }
    .navbar-brand img {
      width: 40px;
    }
    .nav-item dropdown {
      background-color: $steel-blue;
    }
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  padding-right: 8px;
  margin-top: 5px;
}

.container-fluid{
  padding-left: 20px;
  padding-right: 20px;
}

#navbarDropdown{
  margin-left: 10px;
}
