#container-tablero{
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.abc{
 text-align: center;
}
.tab-center{
  justify-content: center;
}

// #carouselExampleControls {
//   position: fixed;
// }
